[Desktop Entry]
Name=Gnotero
Comment=Quick access to your Zotero references (Gnome panel applet)
TryExec=gnotero
Exec=gnotero
Icon=gnotero
Type=Application
X-GNOME-DocPath=
X-GNOME-Bugzilla-Bugzilla=
X-GNOME-Bugzilla-Product=
X-GNOME-Bugzilla-Component=
X-GNOME-Bugzilla-Version=
Categories=GNOME;GTK;Utility;
StartupNotify=false
X-Ubuntu-Gettext-Domain=gnotero
Name[en_US]=Gnotero

